.navbar {
    background: #5133a4;
    min-height: 70px;
    position: fixed;
    width: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    color: #fff;
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);
    z-index: 99;
    white-space: nowrap
  }
  
  .navbar  {
    margin: 0;
    padding: 0
  }
  
  .navbar-brand, .navbar-text {
    display: inline-block;
    padding: 26px 0;
    width: 33.3%;
    text-align: center;
 
  }
  .navbar-brand {
      font-size: 1.85rem;
      font-weight: 900;
  }

  .navbar-light .navbar-brand{
    color: #fff;

  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: 900
  }

  .score {
    margin: 0 2.5%;
  }
  
  .scoreSplit {
    color: #fff;
  }
  
