.footer {
    background: #6956af;
    height: 100px;
    position: relative;
    color: #fff;
    overflow: auto;
    width: 100%;
    background-image: url(/public/images/footer_animation_1.png);

}
.footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #137786;
    padding: 8px;
    font-weight: 600;
    /* height: 200px; */
    /* background-image: url(/public/images/footer_animation_1.png); */

}
.footer span img {
    width: 100px;
    position: relative;
    
}