.jumbotron {
    background-color: transparent;
    min-height: 400px;
    margin: 0 auto;
    margin-bottom: 50px;
    background: #2c323c;
    width: 100%;
    text-align: center;
    color: white;
    padding: 180px 20px;
    background-repeat: repeat;
}

.container-fluid {
    padding: 0px;
}